<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :n_n %><br />
    <%= f.text_field :n_n %>
  </div>
  <div class="field">
    <%= f.label :e_m %><br />
    <%= f.text_field :e_m %>
  </div>
   <div class="field">
    <%= f.label :f_n %><br />
    <%= f.text_field :f_n %>
  </div>
   <div class="field">
    <%= f.label :l_n %><br />
    <%= f.text_field :l_n %>
  </div>
   <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
